# For Replication Purposes

This notebook describes the analysis of the data from the human factor in security threat analysis (using vignettes).

## Initialization

Mounting Google Drive and import the experiment raw data. The data was stored and accessed via google drive.

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
cd "ADD DIRECTORY TO CORRECT FOLDER"

/content/drive/My Drive/Risk Perception 2023

Import the excel file into a pandas dataframe.

In [ ]:
import pandas as pd
  
df = pd.read_excel("new data.xlsx")
df1 = pd.read_excel("old data.xlsx") #data from pilot study

df.head()
df1.head()

Concatinate the data from the two data frames (new and old data)

In [ ]:
#df3 concats the columns in the new data and old data

import pandas
df3=pandas.concat([df, df1])
df3

In [ ]:
outcomes_gender = df3[['study program','Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4', 'Q22', 'Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5', 'Q24','Introduction_DO_Q62', 'Introduction_DO_Q63', 'Introduction_DO_Q64', 'Introduction_DO_Q65', 'Introduction_DO_Q66', 'Introduction_DO_Q67', 'Introduction_DO_Q68', 'Introduction_DO_Q69']]
outcomes_gender['Q24'].describe()

In [ ]:
dict={'Strongly Disagree':1, 'Strongly disagree':1, 'Disagree':2, '1-Not effective at all':1,'2-Not effective':2,'4-Somewhat effective':4,'5-Very effective':5,'Neutral':3, 'Agree':4, 'Strongly Agree':5, 'Strongly agree':5, '1-Completely unacceptable':1,'1-Completely Unacceptable':1, '2-Unacceptable':2,'3-Neutral':3,'4-Acceptable':4,'5-Completely acceptable':5, '1-Not at all':1, '2-Not very much':2, '4-Somewhat':4, '5-Very much so':5, '2-Not much':2,'4-Quite':4, '5-A significant problem':1,'4-Quite a problem':2, '3-Somewhat of a problem':3, '2-Not much of a problem':4,'1-Not a problem at all':5, '3-I kind of understood but I could use more explanation':3,'4-I understood the most important points':4,'5-I understood everything':5}

In [ ]:
outcomes_gender1 = outcomes_gender.replace({"Q12": dict,"Q15_1": dict, "Q15_2": dict, "Q15_3": dict, "Q15_4": dict, 'Q16_1':dict, 'Q16_2':dict, 'Q16_3':dict, 'Q16_4':dict, 'Q16_5':dict, 'Q31':dict})
outcomes_gender1.head()

# **DEMOGRAPHICS**
Column Q22- gender


column study program- education

In [ ]:
# GENDER
df3['Q22'].describe()

In [ ]:
#Education
df3['study program'].describe()

# **Nationality**- only on new data

In [ ]:
#Convert countries into their corresponding continents
!pip install pycountry
!pip install pycountry_convert

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 43.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from pycountry) (67.7.2)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (pyproject.toml) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681847 sha256=05f5a24c6710358f143b5fe061498c01919ec9207f636298c0f9aa8a15e17262
  Stored in directory: /root/.cache/pip/wheels/03/57/cc/290c5252ec97a6d78d36479a3c5e5ecc76318afcb241ad9dbe
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-22.3.5
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycountry_convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pycountry_convert) (7.2.2)
Collecting pprintpp>=0.3.0
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: pycountry>=16.11.27.1 in /usr/local/lib/python3.10/dist-packages (from pycountry_convert) (22.3.5)
Collecting pytest-mock>=1.6.3
  Downloading pytest_mock-3.10.0-py3-none-any.whl (9.3 kB)
Collecting repoze.lru>=0.7
  Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.10/dist-packages (from pycountry_convert) (0.40.0)
Collecting pytest-cov>=2.5.1
  Downloading pytest_cov-4.0.0-py3-none-any.whl (21 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from pycountry>=16.11.27.1->pycountry_convert) (67.7.2)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry_convert) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry_convert) (23.1)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry_convert) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry_convert) (23.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.1.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.0.0)
Collecting coverage[toml]>=5.2.1
  Downloading coverage-7.2.5-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (228 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 228.2/228.2 kB 4.7 MB/s eta 0:00:00
Installing collected packages: repoze.lru, pprintpp, coverage, pytest-mock, pytest-cov, pycountry_convert
Successfully installed coverage-7.2.5 pprintpp-0.4.0 pycountry_convert-0.7.2 pytest-cov-4.0.0 pytest-mock-3.10.0 repoze.lru-0.7

In [ ]:
import pycountry_convert as pc  # column with country names in 2023 data only

# nationality_df = df
# nationality_df.head()

In [ ]:
#First convert to country code then to continet
def convert(row):
  cn_code = pc.country_name_to_country_alpha2(row.Q24, cn_name_format='default')
  conti_code = pc.country_alpha2_to_continent_code(cn_code)
  return conti_code

In [ ]:
df['Continent'] = df.apply(convert, axis = 1)
df['Continent']

In [ ]:
#map continent code to continet name
conti_names = {"AS": "Asia",
               "SA": "South America",
               "OC": "Ocenia",
               "EU": "Europe",
               "NA": "North America",
               "AF": "Africa"}
df['Continent'] = df['Continent'].map(conti_names)
df['Continent']

In [ ]:
dict={'Strongly Disagree':1, 'Strongly disagree':1, 'Disagree':2, '1-Not effective at all':1,'2-Not effective':2,'4-Somewhat effective':4,'5-Very effective':5,'Neutral':3, 'Agree':4, 'Strongly Agree':5, 'Strongly agree':5, '1-Completely unacceptable':1,'1-Completely Unacceptable':1, '2-Unacceptable':2,'3-Neutral':3,'4-Acceptable':4,'5-Completely acceptable':5, '1-Not at all':1, '2-Not very much':2, '4-Somewhat':4, '5-Very much so':5, '2-Not much':2,'4-Quite':4, '5-A significant problem':1,'4-Quite a problem':2, '3-Somewhat of a problem':3, '2-Not much of a problem':4,'1-Not a problem at all':5, '3-I kind of understood but I could use more explanation':3,'4-I understood the most important points':4,'5-I understood everything':5}

In [ ]:
df= df.replace({"Q12": dict,"Q13_1": dict,"Q13_2":dict, "Q15_1": dict, "Q15_2": dict, "Q15_3": dict, "Q15_4": dict, 'Q16_1':dict, 'Q16_2':dict, 'Q16_3':dict, 'Q16_4':dict, 'Q16_5':dict, 'Q31':dict})
df['Q12']

In [ ]:
df.fillna(0, inplace=True)
df.head()

In [ ]:

data_EU = df[df['Continent'].str.contains("EU")==True]
data_nonEU = df[df['Continent'].str.contains("EU")==False]
data_EU.describe()

# **Perception of outcomes (Q12, Q15_1, Q15_2, Q15_3, Q15_4) and analyst persona (Q16_1, Q16_2, Q16_3, Q16_4, Q16_5) ** based on participants gender and education background

In [ ]:
data_male = outcomes_gender1[outcomes_gender1['Q22'].str.contains("Male")==True]
data_female = outcomes_gender1[outcomes_gender1['Q22'].str.contains("Female")==True]

data_bsc =  outcomes_gender1[outcomes_gender1['study program'].str.contains("BSc")==True]
data_msc =  outcomes_gender1[outcomes_gender1['study program'].str.contains("MSc")==True]

In [ ]:
# SrM (Frank senior)
# Male Responses


data_male_franksenior1 = data_male[data_male['Introduction_DO_Q63']> 0]
data_male_franksenior2 = data_male[data_male['Introduction_DO_Q67']> 0]
data_male_franksenior = pd.concat([data_male_franksenior1, data_male_franksenior2])
data_male_franksenior = data_male_franksenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]


"Acceptable", "Ethical", "Reliable", "Responsible", "Trustworthy", "Competent", "Skillful", "Knowledgeable", "Moral", "Trustworthy"
data_male_franksenior.describe()


# Female Responses  

data_female_franksenior1 = data_female[data_female['Introduction_DO_Q63']> 0]
data_female_franksenior2 = data_female[data_female['Introduction_DO_Q67']> 0]
data_female_franksenior = pd.concat([data_female_franksenior1, data_female_franksenior2])
data_female_franksenior = data_female_franksenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

"Acceptable", "Ethical", "Reliable", "Responsible", "Trustworthy", "Competent", "Skillful", "Knowledgeable", "Moral", "Trustworthy"

data_female_franksenior.describe()


# BSc Responses

data_bsc =  outcomes_gender1[outcomes_gender1['study program'].str.contains("BSc")==True]
data_msc =  outcomes_gender1[outcomes_gender1['study program'].str.contains("MSc")==True]

data_bsc_franksenior1 = data_bsc[data_bsc['Introduction_DO_Q63']> 0]
data_bsc_franksenior2 = data_bsc[data_bsc['Introduction_DO_Q67']> 0]

data_bsc_franksenior = pd.concat([data_bsc_franksenior1, data_bsc_franksenior2])
data_bsc_franksenior = data_bsc_franksenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

# "Acceptable", "Ethical", "Reliable", "Responsible", "Trustworthy", "Competent", "Skillful", "Knowledgeable", "Moral", "Trustworthy"

data_bsc_franksenior.describe()

# MSc Responses


data_msc_franksenior1 = data_msc[data_msc['Introduction_DO_Q63']> 0]
data_msc_franksenior2 = data_msc[data_msc['Introduction_DO_Q67']> 0]

data_msc_franksenior = pd.concat([data_msc_franksenior1, data_msc_franksenior2])
data_msc_franksenior = data_msc_franksenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]


data_msc_franksenior.describe()

,Q12,Q15_1,Q15_2,Q15_3,Q15_4,Q16_1,Q16_2,Q16_3,Q16_4,Q16_5
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,2.727273,3.090909,3.090909,2.727273,2.727273,2.727273,2.909091,3.272727,3.090909,3.090909
std,1.103713,1.136182,0.831209,0.904534,0.904534,0.904534,0.700649,0.786245,1.375103,0.700649
min,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000
25%,2.000000,2.000000,2.500000,2.000000,2.000000,2.000000,2.500000,3.000000,2.000000,3.000000
50%,3.000000,4.000000,3.000000,2.000000,2.000000,3.000000,3.000000,3.000000,4.000000,3.000000
75%,3.000000,4.000000,4.000000,3.500000,3.500000,3.000000,3.000000,4.000000,4.000000,3.500000
max,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000

In [ ]:
# SrF (Anna senior)
# Male Responses


data_male_annasenior1 = data_male[data_male['Introduction_DO_Q62']>0]
data_male_annasenior2 = data_male[data_male['Introduction_DO_Q66']>0]

data_male_annasenior = pd.concat([data_male_annasenior1, data_male_annasenior2])
data_male_annasenior = data_male_annasenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5' ]]  

# "Acceptable", "Ethical", "Reliable", "Responsible", "Trustworthy", "Competent", "Skillful", "Knowledgeable", "Moral", "Trustworthy"

data_male_annasenior.describe()


# Female Responses

data_male = outcomes_gender1[outcomes_gender1['Q22'].str.contains("Male")==True]
data_female = outcomes_gender1[outcomes_gender1['Q22'].str.contains("Female")==True]

data_female_annasenior1 = data_female[data_female['Introduction_DO_Q62']> 0]
data_female_annasenior2 = data_female[data_female['Introduction_DO_Q66']> 0]

data_female_annasenior = pd.concat([data_female_annasenior1, data_female_annasenior2])
data_female_annasenior = data_female_annasenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]


data_female_annasenior.describe()


# BSc Responses

data_bsc =  outcomes_gender1[outcomes_gender1['study program'].str.contains("BSc")==True]
data_msc =  outcomes_gender1[outcomes_gender1['study program'].str.contains("MSc")==True]

data_bsc_annasenior1 = data_bsc[data_bsc['Introduction_DO_Q62']> 0]
data_bsc_annasenior2 = data_bsc[data_bsc['Introduction_DO_Q66']> 0]

data_bsc_annasenior = pd.concat([data_bsc_annasenior1, data_bsc_annasenior2])
data_bsc_annasenior = data_bsc_annasenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

# "Acceptable", "Ethical", "Reliable", "Responsible", "Trustworthy", "Competent", "Skillful", "Knowledgeable", "Moral", "Trustworthy"

data_bsc_annasenior.describe()

# MSc Responses


data_msc_annasenior1 = data_msc[data_msc['Introduction_DO_Q62']> 0]
data_msc_annasenior2 = data_msc[data_msc['Introduction_DO_Q66']> 0]

data_msc_annasenior = pd.concat([data_msc_annasenior1, data_msc_annasenior2])
data_msc_annasenior = data_msc_annasenior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]


data_msc_annasenior.describe()

In [ ]:
# JrM (Frank junior)
#Male Responses


data_male_frankjunior1 = data_male[data_male['Introduction_DO_Q65']> 0]
data_male_frankjunior2 = data_male[data_male['Introduction_DO_Q69']> 0]
data_male_frankjunior = pd.concat([data_male_frankjunior1, data_male_frankjunior2])
data_male_frankjunior = data_male_frankjunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_male_frankjunior.describe()


#Female Responses

data_female_frankjunior1 = data_female[data_female['Introduction_DO_Q65']> 0]
data_female_frankjunior2 = data_female[data_female['Introduction_DO_Q69']> 0]
data_female_frankjunior = pd.concat([data_female_frankjunior1, data_female_frankjunior2])
data_female_frankjunior = data_female_frankjunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_female_frankjunior.describe()

#Bsc Responses

data_bsc_frankjunior1 = data_bsc[data_bsc['Introduction_DO_Q65']> 0]
data_bsc_frankjunior2 = data_bsc[data_bsc['Introduction_DO_Q69']> 0]
data_bsc_frankjunior = pd.concat([data_bsc_frankjunior1, data_bsc_frankjunior2])
data_bsc_frankjunior = data_bsc_frankjunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_bsc_frankjunior.describe()


#Msc Responses

data_msc_frankjunior1 = data_msc[data_msc['Introduction_DO_Q65']> 0]
data_msc_frankjunior2 = data_msc[data_msc['Introduction_DO_Q69']> 0]
data_msc_frankjunior = pd.concat([data_msc_frankjunior1, data_msc_frankjunior2])
data_msc_frankjunior = data_msc_frankjunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_msc_frankjunior.describe()

,Q12,Q15_1,Q15_2,Q15_3,Q15_4,Q16_1,Q16_2,Q16_3,Q16_4,Q16_5
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,2.909091,2.818182,2.636364,2.909091,3.000000,3.272727,2.909091,3.181818,3.181818,3.000000
std,0.943880,0.750757,1.120065,0.700649,0.774597,0.646670,0.700649,0.603023,0.603023,0.447214
min,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,2.500000,2.000000,2.000000,2.500000,2.500000,3.000000,2.500000,3.000000,3.000000,3.000000
50%,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,3.500000,3.000000,3.000000,3.000000,3.500000,4.000000,3.000000,3.500000,3.500000,3.000000
max,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [ ]:
# JrF (Anna Junior)
#Male responses

data_male_annajunior1 = data_male[data_male['Introduction_DO_Q64']> 0]
data_male_annajunior2 = data_male[data_male['Introduction_DO_Q68']> 0]
data_male_annajunior = pd.concat([data_male_annajunior1, data_male_annajunior2])
data_male_annajunior = data_male_annajunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_male_annajunior.describe()


# Female Responses

data_female_annajunior1 = data_female[data_female['Introduction_DO_Q64']> 0]
data_female_annajunior2 = data_female[data_female['Introduction_DO_Q68']> 0]
data_female_annajunior = pd.concat([data_female_annajunior1, data_female_annajunior2])
data_female_annajunior = data_female_annajunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_female_annajunior.describe()

#Bsc responses

data_bsc_annajunior1 = data_bsc[data_bsc['Introduction_DO_Q64']> 0]
data_bsc_annajunior2 = data_bsc[data_bsc['Introduction_DO_Q68']> 0]
data_bsc_annajunior = pd.concat([data_bsc_annajunior1, data_bsc_annajunior2])
data_bsc_annajunior = data_bsc_annajunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_bsc_annajunior.describe()


# MSC Responses

data_msc_annajunior1 = data_msc[data_msc['Introduction_DO_Q64']> 0]
data_msc_annajunior2 = data_msc[data_msc['Introduction_DO_Q68']> 0]
data_msc_annajunior = pd.concat([data_msc_annajunior1, data_msc_annajunior2])
data_msc_annajunior = data_msc_annajunior[['Q12','Q15_1', 'Q15_2', 'Q15_3', 'Q15_4','Q16_1', 'Q16_2', 'Q16_3', 'Q16_4', 'Q16_5']]

data_msc_annajunior.describe()

# Aggregated scales to measure analyst persona, security outcomes

In [ ]:
# scale for analyst persona (Q16_1- competent, Q16_2- skillful, Q16_3- Knowledgeable, Q16_5- trustworthy )
scale['skills']= (new_outcomes['Q16_1'] +new_outcomes['Q16_2'] + new_outcomes['Q16_3'] + new_outcomes['Q16_5'])/4
scale['skills'].mean()

In [ ]:
# scale for security outcomes (Q12- overall acceptability, Q15_1- ethical, Q15_3- Responsible, Q15_4- Trustworthy, Q16_4- Moral)
scale = pd.DataFrame()
scale['ethical']= (new_outcomes['Q12'] +new_outcomes['Q15_1'] + new_outcomes['Q15_4'] + new_outcomes['Q15_3'] + new_outcomes['Q16_4'])/5
scale['ethical'].mean()

In [ ]:
# Scale used to measure the perception of Maxxupload
cale['maxx']= new_outcomes['Q31']
scale['maxx'].mean()

In [ ]:
!pip install pingouin
import pingouin as pg

In [ ]:
pg.cronbach_alpha(skills)

In [ ]:
pg.cronbach_alpha(ethical)

In [ ]:
#Group mitigation into traffic blocking and malware
def mitigation (row):
   if row['Introduction_DO_Q66'] > 0 :
      return 'Blocking'
   if row['Introduction_DO_Q68'] > 0 :
      return 'Blocking'
   if row['Introduction_DO_Q67'] > 0 :
      return 'Blocking'
   if row['Introduction_DO_Q69'] > 0 :
      return 'Blocking'
   if row['Introduction_DO_Q62'] > 0 :
      return 'Malware'
   if row['Introduction_DO_Q64'] > 0 :
      return 'Malware'
   if row['Introduction_DO_Q63'] > 0 :
      return 'Malware'
   if row['Introduction_DO_Q65'] > 0 :
      return 'Malware'
   return 'Other'


outcomes_gender1['mitigation'] = outcomes_gender1.apply (mitigation, axis=1)
outcomes_gender1['mitigation'].describe()

In [ ]:
#Concatinate all responses for traffic blocking and malware
block_annasenior = outcomes_gender1[outcomes_gender1['Introduction_DO_Q66']> 0]
block_annajunior = outcomes_gender1[outcomes_gender1['Introduction_DO_Q68']> 0]
block_franksenior = outcomes_gender1[outcomes_gender1['Introduction_DO_Q67']> 0]
block_frankjunior =outcomes_gender1[outcomes_gender1['Introduction_DO_Q69']> 0]

blocking = pd.concat([block_annasenior, block_annajunior, block_franksenior, block_frankjunior])


malware_annasenior = outcomes_gender1[outcomes_gender1['Introduction_DO_Q62']> 0]
malware_annajunior = outcomes_gender1[outcomes_gender1['Introduction_DO_Q64']> 0]
malware_franksenior = outcomes_gender1[outcomes_gender1['Introduction_DO_Q63']> 0]
malware_frankjunior =outcomes_gender1[outcomes_gender1['Introduction_DO_Q65']> 0]

malware = pd.concat([malware_annasenior, malware_annajunior, malware_franksenior, malware_frankjunior])
malware.describe()

In [ ]:
scale['gender']= outcomes_gender1['Q22']
scale_male = scale[scale['gender'].str.contains("Male")==True]
scale_female = scale[scale['gender'].str.contains("Female")==True]
scale['background']= outcomes_gender1['study program']
scale_Bsc = scale[scale['background'].str.contains("BSc")==True]
scale_Msc = scale[scale['background'].str.contains("MSc")==True]
scale['nationality']= df['Continent']
scale_EU = scale[scale['nationality'].str.contains("EU")==True]
scale_nonEU = scale[scale['nationality'].str.contains("nonEU")==True]
scale['mitigation']= outcomes_gender1['mitigation']
scale_blocking = scale[scale['mitigation'].str.contains("Blocking")==True]
scale_malware = scale[scale['mitigation'].str.contains("Malware")==True]

In [ ]:
print(scale_female['skills'].mean())
print(scale_female['skills'].std())
print(scale_male['skills'].mean())
print(scale_male['skills'].std())
print(scale_female['ethical'].mean())
print(scale_female['ethical'].std())
print(scale_male['ethical'].mean())
print(scale_male['ethical'].std())
print(scale_female['works'].mean())
print(scale_male['works'].mean())
print(scale_female['maxx'].mean())
print(scale_female['maxx'].std())
print(scale_male['maxx'].mean())
print(scale_male['maxx'].std())

In [ ]:
print(scale_Bsc['skills'].mean())
print(scale_Bsc['skills'].std())
print(scale_Msc['skills'].mean())
print(scale_Msc['skills'].std())
print(scale_Bsc['ethical'].mean())
print(scale_Bsc['ethical'].std())
print(scale_Msc['ethical'].mean())
print(scale_Msc['ethical'].std())
print(scale_Bsc['works'].mean())
print(scale_Msc['works'].mean())
print(scale_Bsc['maxx'].mean())
print(scale_Bsc['maxx'].std())
print(scale_Msc['maxx'].mean())
print(scale_Msc['maxx'].std())

In [ ]:
print(scale_EU['skills'].mean())
print(scale_EU['skills'].std())
print(scale_nonEU['skills'].mean())
print(scale_nonEU['skills'].std())
print(scale_EU['ethical'].mean())
print(scale_EU['ethical'].std())
print(scale_nonEU['ethical'].mean())
print(scale_nonEU['ethical'].std())
print(scale_EU['works'].mean())
print(scale_nonEU['works'].mean())
print(scale_EU['maxx'].mean())
print(scale_EU['maxx'].std())
print(scale_nonEU['maxx'].mean())
print(scale_nonEU['maxx'].std())

In [ ]:
print(scale_blocking['skills'].mean())
print(scale_blocking['skills'].std())
print(scale_malware['skills'].mean())
print(scale_malware['skills'].std())
print(scale_blocking['ethical'].mean())
print(scale_blocking['ethical'].std())
print(scale_malware['ethical'].mean())
print(scale_malware['ethical'].std())
print(scale_blocking['works'].mean())
print(scale_malware['works'].mean())
print(scale_blocking['maxx'].mean())
print(scale_blocking['maxx'].std())
print(scale_malware['maxx'].mean())
print(scale_malware['maxx'].std())

# Test of difference using the aggregated scale

In [ ]:
#test of difference on the perception of analyst persona
skills_scale_gender= scipy.stats.mannwhitneyu(scale_female['skills'] , scale_male['skills']  , alternative= "two-sided") 
skills_scale_background= scipy.stats.mannwhitneyu(scale_Bsc['skills'] , scale_Msc['skills']  , alternative= "two-sided") 
skills_scale_background

In [ ]:
#test of difference on the perception of security outcomes
ethical_scale_gender= scipy.stats.mannwhitneyu(scale_female['ethical'] , scale_male['ethical']  , alternative= "two-sided") 
ethical_scale_background= scipy.stats.mannwhitneyu(scale_Bsc['ethical'] , scale_Msc['ethical']  , alternative= "two-sided") 
ethical_scale_background

In [ ]:
#test of difference on the perception of Maxxupload
maxx_scale_gender= scipy.stats.mannwhitneyu(scale_female['maxx'] , scale_male['maxx']  , alternative= "two-sided") 
maxx_scale_background= scipy.stats.mannwhitneyu(scale_Bsc['maxx'] , scale_Msc['maxx']  , alternative= "two-sided") 
maxx_scale_gender

In [ ]:
#test of difference on the perception of security outcomes, analyst persona, and Maxxupload based on the mitigation received
ethical_scale_mitigation= scipy.stats.mannwhitneyu(scale_blocking ['ethical'] , scale_malware['ethical']  , alternative= "two-sided") 
skills_scale_mitigation= scipy.stats.mannwhitneyu(scale_blocking ['skills'] , scale_malware['skills']  , alternative= "two-sided") 
maxx_scale_mitigation= scipy.stats.mannwhitneyu(scale_blocking ['maxx'] , scale_malware['maxx']  , alternative= "two-sided") 
print(ethical_scale_mitigation)
print(skills_scale_mitigation)
print(maxx_scale_mitigation)
print(scale_blocking ['ethical'].mean())
print(scale_malware['ethical'].mean())

# **TOST on scale data**

In [ ]:
#TOST of security outcomes based on scale['ethical']



#TOST FOR gender
p_low_gender_ethics = mannwhitneyu([x - delta for x in scale_female['ethical']], scale_male['ethical'], alternative = "less")
p_up_gender_ethics= mannwhitneyu(scale_male['ethical'], [x + delta for x in scale_female['ethical']],  alternative = "less")
p_TOST_gender_ethics = max(p_low_gender_ethics.pvalue, p_up_gender_ethics.pvalue)

print(p_low_gender_ethics)
print(p_up_gender_ethics)
print(p_TOST_gender_ethics)

#TOST FOR background
p_low_background_ethics = mannwhitneyu([x - delta for x in scale_Bsc['ethical']], scale_Msc['ethical'], alternative = "less")
p_up_background_ethics= mannwhitneyu(scale_Msc['ethical'], [x + delta for x in scale_Bsc['ethical']],  alternative = "less")
p_TOST_background_ethics = max(p_low_background_ethics.pvalue, p_up_background_ethics.pvalue)

print(p_low_background_ethics)
print(p_up_background_ethics)
print(p_TOST_background_ethics)

 #TOST FOR mitigation
p_low_mitigation_ethics = mannwhitneyu([x - delta for x in scale_blocking['ethical']], scale_malware['ethical'], alternative = "less")
p_up_mitigation_ethics= mannwhitneyu(scale_malware['ethical'], [x + delta for x in scale_blocking['ethical']],  alternative = "less")
p_TOST_mitigation_ethics = max(p_low_mitigation_ethics.pvalue, p_up_mitigation_ethics.pvalue)

print(p_low_mitigation_ethics)
print(p_up_mitigation_ethics)
print(p_TOST_mitigation_ethics)

In [ ]:
#TOST of analyst based on scale['skills']



#TOST FOR gender
from scipy.stats import mannwhitneyu
delta = 0.8
p_low_gender_skills= mannwhitneyu([x - delta for x in scale_female['skills']], scale_male['skills'], alternative = "less")
p_up_gender_skills= mannwhitneyu(scale_male['skills'], [x + delta for x in scale_female['skills']],  alternative = "less")
p_TOST_gender_skills = max(p_low_gender_skills.pvalue, p_up_gender_skills.pvalue)

print(p_low_gender_skills)
print(p_up_gender_skills)
print(p_TOST_gender_skills)


#TOST FOR background
p_low_background_skills = mannwhitneyu([x - delta for x in scale_Bsc['skills']], scale_Msc['skills'], alternative = "less")
p_up_background_skills= mannwhitneyu(scale_Msc['skills'], [x + delta for x in scale_Bsc['skills']],  alternative = "less")
p_TOST_background_skills= max(p_low_background_skills.pvalue, p_up_background_skills.pvalue)

print(p_low_background_skills)
print(p_up_background_skills)
print(p_TOST_background_skills)

#TOST FOR mitigation
p_low_mitigation_skills = mannwhitneyu([x - delta for x in scale_blocking['skills']], scale_malware['skills'], alternative = "less")
p_up_mitigation_skills= mannwhitneyu(scale_malware['skills'], [x + delta for x in scale_blocking['skills']],  alternative = "less")
p_TOST_mitigation_skills = max(p_low_mitigation_skills.pvalue, p_up_mitigation_skills.pvalue)

print(p_low_mitigation_skills)
print(p_up_mitigation_skills)
print(p_TOST_mitigation_skills)

In [ ]:
#TOST of Maxxupload based on scale['maxx']



#TOST FOR gender
from scipy.stats import mannwhitneyu
delta = 0.8
p_low_gender_maxx= mannwhitneyu([x - delta for x in scale_female['maxx']], scale_male['maxx'], alternative = "less")
p_up_gender_maxx= mannwhitneyu(scale_male['maxx'], [x + delta for x in scale_female['maxx']],  alternative = "less")
p_TOST_gender_maxx = max(p_low_gender_maxx.pvalue, p_up_gender_maxx.pvalue)

print(p_low_gender_maxx)
print(p_up_gender_maxx)
print(p_TOST_gender_maxx)


#TOST FOR background
p_low_background_maxx = mannwhitneyu([x - delta for x in scale_Bsc['maxx']], scale_Msc['maxx'], alternative = "less")
p_up_background_maxx= mannwhitneyu(scale_Msc['maxx'], [x + delta for x in scale_Bsc['maxx']],  alternative = "less")
p_TOST_background_maxx= max(p_low_background_maxx.pvalue, p_up_background_maxx.pvalue)

print(p_low_background_maxx)
print(p_up_background_maxx)
print(p_TOST_background_maxx)

#TOST FOR mitigation
p_low_mitigation_maxx = mannwhitneyu([x - delta for x in scale_blocking['maxx']], scale_malware['maxx'], alternative = "less")
p_up_mitigation_maxx= mannwhitneyu(scale_malware['maxx'], [x + delta for x in scale_blocking['maxx']],  alternative = "less")
p_TOST_mitigation_maxx = max(p_low_mitigation_maxx.pvalue, p_up_mitigation_maxx.pvalue)

print(p_low_mitigation_maxx)
print(p_up_mitigation_maxx)
print(p_TOST_mitigation_maxx)

In [ ]:
scipy.stats.pearsonr(scale['maxx'], scale['ethical'])

# **New scale for nationality**

In [ ]:
newscale = pd.DataFrame()
newscale['ethical']= (df['Q12'] +df['Q15_1'] + df['Q15_4'] + df['Q15_3'] + df['Q16_4'])/5
newscale['ethical'].describe()

In [ ]:
newscale['skills']= (df['Q16_1'] + df['Q16_2'] + df['Q16_3'] + df['Q16_5'])/4
newscale['skills'].describe()

In [ ]:
newscale['maxx']= df['Q31']
newscale['maxx'].describe()

In [ ]:
newscale['nationality']= df['Continent']
newscale_EU = newscale[newscale['nationality'].str.contains("EU")==True]
newscale_nonEU = newscale[newscale['nationality'].str.contains("EU")==False]
newscale_EU.describe()

In [ ]:
print(newscale_EU['ethical'].mean())
print(newscale_EU['ethical'].std())
print(newscale_nonEU['ethical'].mean())
print(newscale_EU['ethical'].std())

print(newscale_EU['skills'].mean())
print(newscale_EU['skills'].std())
print(newscale_nonEU['skills'].mean())
print(newscale_EU['skills'].std())

print(newscale_EU['maxx'].mean())
print(newscale_EU['maxx'].std())
print(newscale_nonEU['maxx'].mean())
print(newscale_EU['maxx'].std())

In [ ]:
#Test for difference

newscale_ethics_nationality= scipy.stats.mannwhitneyu(newscale_EU['ethical'] , newscale_nonEU['ethical']  , alternative= "two-sided") 
newscale_skills_nationality= scipy.stats.mannwhitneyu(newscale_EU['skills'] , newscale_nonEU['skills']  , alternative= "two-sided") 
newscale_maxx_nationality= scipy.stats.mannwhitneyu(newscale_EU['maxx'] , newscale_nonEU['maxx']  , alternative= "two-sided") 
print(newscale_ethics_nationality)
print(newscale_skills_nationality)
print(newscale_maxx_nationality)

In [ ]:
#Test for equivalence for nationality only

#ethics
from scipy.stats import mannwhitneyu
delta = 0.8
p_low_newscale_ethics= mannwhitneyu([x - delta for x in newscale_EU['ethical']], newscale_nonEU['ethical'], alternative = "less")
p_up_newscale_ethics= mannwhitneyu(newscale_nonEU['ethical'], [x + delta for x in scale_female['ethical']],  alternative = "less")
p_TOST_newscale_ethics = max(p_low_newscale_ethics.pvalue, p_up_newscale_ethics.pvalue)

print(p_low_newscale_ethics)
print(p_up_newscale_ethics)
print(p_TOST_newscale_ethics)

#skills

p_low_newscale_skills= mannwhitneyu([x - delta for x in newscale_EU['skills']], newscale_nonEU['skills'], alternative = "less")
p_up_newscale_skills= mannwhitneyu(newscale_nonEU['skills'], [x + delta for x in scale_female['skills']],  alternative = "less")
p_TOST_newscale_skills = max(p_low_newscale_skills.pvalue, p_up_newscale_skills.pvalue)

print(p_low_newscale_skills)
print(p_up_newscale_skills)
print(p_TOST_newscale_skills)

#maxx

p_low_newscale_maxx= mannwhitneyu([x - delta for x in newscale_EU['maxx']], newscale_nonEU['maxx'], alternative = "less")
p_up_newscale_maxx= mannwhitneyu(newscale_nonEU['maxx'], [x + delta for x in scale_female['maxx']],  alternative = "less")
p_TOST_newscale_maxx = max(p_low_newscale_maxx.pvalue, p_up_newscale_maxx.pvalue)

print(p_low_newscale_maxx)
print(p_up_newscale_maxx)
print(p_TOST_newscale_maxx)